<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.web.dao.CompanyDao">

    <insert id="addCompany" parameterType="com.wu.common.domain.company.Company">
        insert into Orchard.Company (companyId, companyName, companyLocation, companyStatus, createdTime, companyInfo) values (#{companyId},#{companyName}, #{companyLocation}, #{companyStatus}, #{createdTime}, #{companyInfo});
    </insert>

    <insert id="addCompanyDetail" parameterType="com.wu.common.domain.company.Company$CompanyDetails">
        insert into Orchard.CompanyDetails (companyId, businessLicense, businessLicenseBack, password, verificationStatus) VALUES (#{companyId}, #{businessLicense}, #{businessLicenseBack}, #{password}, #{verificationStatus});
    </insert>

    <select id="queryByCompanyId"  resultType="com.wu.common.domain.company.Company" parameterType="String">
        select * from Orchard.Company where companyId = #{customerId}
    </select>

    <select id="queryAllCompany" parameterType="com.wu.common.domain.company.Company" resultType="com.wu.common.domain.company.Company">
        SELECT * FROM Orchard.Company ;
    </select>

<!--    <update id="updateCompanyInfo" parameterType="com.wu.common.domain.company.Company">-->
<!--        update Orchard.Company set (companyName = #{companyName}, companyLocation = #{companyLocation}, companyStatus = #{companyStatus}, companyInfo = #{companyInfo}) where companyId = #{companyId};-->

<!--    </update>-->

</mapper>