<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.web.dao.CustomerDao">

    <insert id="addCustomer" parameterType="com.wu.common.domain.customer.Customer">
        insert into Customer (customerId, nickname, grade, tel, location, status, createdTime, gender, birthday)
        values (#{customerId},#{nickname}, #{grade}, #{tel}, #{location}, #{status}, #{createdTIme}, #{gender}, #{birthday});
    </insert>

    <select id="queryById" resultType="com.wu.common.domain.customer.Customer" parameterType="String">
        select * from Customer where customerId = #{customerId}
    </select>

    <select id="queryAll" resultType="com.wu.common.domain.customer.Customer">
        select * from Customer;
    </select>

    <update id="purchase" parameterType="com.wu.common.domain.MainOrder">
        update subOrder set orderstatus = '1' where (select * from subOrder where customerId = #{customerId}
                                where goodId = #{goodId} as tempOrder);
    </update>
    
</mapper>