<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.web.dao.MainOrderDao">

    <insert id="addOrder" parameterType="com.wu.common.domain.MainOrder">
        insert into subOrder (customerId, goodId, goodPrice, shippingPrice, createdTime, finishedTime, orderStatus, shippingAddress, goodName, companyId, companyName)
        values (#{customerId}, #{goodId}, #{goodPrice}, #{shippingPrice}, #{createdTime}, #{finishedTime}, #{orderStatus}, #{shippingAddress}, #{goodName}, #{companyId}, #{companyName})
    </insert>

    <select id="queryByOrderId" parameterType="com.wu.common.domain.MainOrder">
        select * from subOrder where orderId = #{orderId}
    </select>

    <select id="queryByCustomerId" parameterType="com.wu.common.domain.MainOrder">
        select * from subOrder where customerId = #{customerId};
    </select>

    //todo
    <update id="purchase" parameterType="com.wu.common.domain.MainOrder">
        update subOrder set orderStatus = '1' where (select * from subOrder where customerId = #{customerId}
            where goodId = #{goodId});
    </update>

    <update id="orderFinished" parameterType="com.wu.common.domain.MainOrder">
        update subOrder set orderStatus = '6' where (select * from subOrder where customerId = #{customerId}
            where orderId = #{orderId});
    </update>

</mapper>